/*************************/
/* 마이페이지 관련
/*************************/

.mypage-reserv .now{
	color: black;
}



/*************************/
/* 회원 수정
/*************************/
.mypage-info table {
	border-collapse: separate; /* 셀 간격 */
	border-spacing: 60px;
	margin-top: 20px;
	margin-bottom: 150px;
	border: 1px #eee solid;
	width: 1050px;
	padding-top: 35px;
	padding-bottom: 35px;
}


.mypage-info input {
	margin: 5px 0px 0px 35px; 
	font-size: 17px;
	font-weight: 400;
	color: #333;
	text-align: left;
	width: 84%; /* input 바깥과 크기 */
	outline: none;
	background: none;
	padding: 0 5px;
	height: 30px; /* 글자와 밑 줄 사이 간격 */
	letter-spacing: 0.8px;
	border: none;
	border-bottom: 1px solid #eee;
}

.mypage-info input:focus {

	border-bottom: 1px solid #757575;
	outline: 0;

  }

.mypage-info .btnMod {
	margin: 5px 0px 0px 35px; 
	margin-top: 30px;
	height: 48px;
	font-size: 16px;
	color: #fff;
	line-height: 48px;
	background-color: #2d2d2d;
	text-align: center;
	width: 320px;
	transition: background 0.2s ease-in-out;
}

.mypage-info .btnMod:hover {
	margin: 5px 0px 0px 35px; 
	margin-top: 30px;
	height: 48px;
	font-size: 16px;
	color: #fff;
	line-height: 48px;
	background-color: #ff0045;
	text-align: center;
	width: 320px;
	transition: background 0.2s ease-in-out;
}


.mypage-info label {
	font-size: 13px;
	text-align: left;
	padding-left: 40px;
	font-weight: 400;
}

 /* 밑에 안내 문구 */
.join_check {
	font-size: 14px;
	 margin: 5px 0px 0px 35px; 
    vertical-align: middle;
}

.mypage-info .placeholder_mod {
	
		font-size: 14px;
	
}



