/*************************/
/* .category-list
/*************************/
.category-list {}
.category-list ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 12px;
	justify-items: center;
}
.category-list ul li {
	width: 100%;
}
.category-list ul li a {
	position: relative;
	display: flex;
	width: 100%;
	height: 120px;
	border-radius: 12px;
	align-items: flex-end;
	padding: 10px 15px;
	background-color: #eee;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: #fff;
	letter-spacing: -0.5px;
}
.category-list ul li a .cate-overlay {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #333;
	opacity: 0.2;
	border-radius: 12px;
    -webkit-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.category-list ul li a .cate-gradient {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100px;
	height: 100%;
	background-image: linear-gradient(to right, rgb(3, 0, 0), rgba(2, 0, 0, 0.52), rgba(0, 0, 0, 0));
	opacity: 0.5;
	border-radius: 12px;
    -webkit-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.category-list ul li a span {
	z-index: 1;
}

.category-list ul li a:hover {
	font-size: 22px;
	line-height: 28px;
}
.category-list ul li a:hover .cate-overlay {
	opacity: 0;
}


@media (min-width: 992px) {
}

@media (max-width: 992px) {
	.category-list ul li a {
		height: 80px;
		padding: 8px 12px;
	}
}

@media (max-width: 520px) {
	.category-list ul {
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
	}
}







/*************************/
/* .goods-list
/*************************/
.goods-list {}

.goods-list .gl-category {    position: relative;
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: auto;
}
.goods-list .gl-category li {
    display: inline-block;
    margin-right: 20px;
}
.goods-list .gl-category li a {
    font-size: 15px;
    color: #000;
}
.goods-list .gl-category li a:hover {
    color: var(--font-color);
}
.goods-list .gl-category li.now a {
    font-weight: bold;
    color: var(--font-color);
}






/*************************/
/* .ficnic-view
/*************************/
.ficnic-view {}
.ficnic-view > div {
	position: relative;
	width: 100%;
	margin-bottom: 50px;
	padding-top: 50px;
	border-top: 1px solid #eee;
}

.ficnic-view > div > h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	margin: 0 0 24px 0;
}
.ficnic-view > div > h4 {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	margin: 0 0 2px 0;
}
.ficnic-view > div > h5 {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: #999;
	white-space: pre-wrap;
	margin-bottom: 20px;
}



/* 상단 정보 */
.ficnic-view .fv-top {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-top: 0;
	padding-top: 0;
	border-top: 0;
}
.ficnic-view .fv-top .fvt-photo {
	position: relative;
	width: 50%;
}
.ficnic-view .fv-top .fvt-photo li {
	width: 100%;
}
.ficnic-view .fv-top .fvt-photo li img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.ficnic-view .fv-top .fvt-photo .swiper-pagination,
.ficnic-view .fv-top .fvt-photo .swiper-button {
    position: absolute;
    z-index: 2;
}

.ficnic-view .fv-top .fvt-photo .swiper-pagination {
	bottom: 0;
	width: auto;
	margin-left: calc(50% - 28px);
	margin-bottom: 12px;
	padding: 3px 10px;
    font-family: 'Lato';
    font-size: 13px;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    border-radius: 16px;
    background: rgba(0,0,0,0.3);
}
.ficnic-view .fv-top .fvt-photo .swiper-pagination-current {
    font-weight: 600;
}

.ficnic-view .fv-top .fvt-photo .swiper-button {
	width: 100%;
	top: 50%;
}
.ficnic-view .fv-top .fvt-photo button {
	font-size: 22px;
	color: #fff;
    background: none;
    vertical-align: middle;
    text-align: center;
    margin-top: 0;
    opacity: 0.5;
}
.ficnic-view .fv-top .fvt-photo .swiper-button button:hover {
	opacity: 1;
}



.ficnic-view .fv-top .fvt-cont {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-between;
	width: 50%;
	max-height: 534px;
	box-sizing: border-box;
	padding-left: 50px;
	overflow: hidden;
}
.ficnic-view .fv-top .fvt-cont .fvtc-basic {
    font-family: 'Lato';
    letter-spacing: 0;
    margin-bottom: 60px;
}
.ficnic-view .fv-top .fvt-cont .fvtc-basic h2 {
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: -1px;
	margin-bottom: 14px;
}
.ficnic-view .fv-top .fvt-cont .fvtc-basic p.prev {
    font-size: 18px;
    line-height: 20px;
    color: #ccc;
    text-decoration: line-through;
    margin-bottom: 5px;
}
.ficnic-view .fv-top .fvt-cont .fvtc-basic p.sale {
	font-size: 18px;
    font-weight: 700;
    color: #000;
    line-height: 30px;
}
.ficnic-view .fv-top .fvt-cont .fvtc-basic p.sale b {
    font-size: 28px;
    font-weight: 700;
}
.ficnic-view .fv-top .fvt-cont .fvtc-basic p.sale span {
    color: var(--font-color);
    font-size: 28px;
    margin-right: 5px;
}



.ficnic-view .fv-top .fvt-cont .fvtc-review {}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star {
	position: relative;
	width: 100%;
}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star > i {
    font-size: 20px;
    color: #ffdc00;
}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star b {
	font-family: 'Lato';
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
	letter-spacing: 0;
	margin-left: 8px;
}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star b:after {
	content: "•";
	width: 3px;
	height: 3px;
	padding: 0 4px 0 6px;
	font-size: 12px;
	color: #777;
	vertical-align: top;
}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star span {
	font-size: 15px;
	color: #777;
}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star p.avg {
	color: #333;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: -1px;
}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star a.link {
	position: absolute;
	top: 5px;
	right: 0;
	padding: 5px 8px;
	font-size: 14px;
	color: #666;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #fff;
}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star a.link:hover {
	color: var(--font-color);
	border-color: var(--border-color);
}

.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-list {
	display: flex;
	justify-content: space-between;
	margin-top: 12px;
}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-list li {
	width: calc(33.3333333333% - 10px);
}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-list li p.photo {
	width: 100%;
	margin-bottom: 5px;
}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-list li p.photo img {
	width: 100%;
	object-fit: cover;
	border-radius: 8px;
}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-list li p.writer {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 1px;
}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-list li p.cont {
	display: block;
	max-height: 85px;
	font-size: 13px;
	line-height: 17px;
	color: #777;
    word-break: keep-all;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-noreview {}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-noreview p {
	font-size: 15px;
	font-weight: 500;
	line-height: 20px;
}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-noreview p > b {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 2px;
}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-noreview p > b img {
	vertical-align: top;
	margin-top: -2px;
}
.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-noreview p > span {
	display: block;
	padding-top: 10px;
	font-size: 12px;
	color: #aaa;
}





/* 피크닉 정보 */
.ficnic-view .fv-info {}
.ficnic-view .fv-info ul {}
.ficnic-view .fv-info ul li {
	display: flex;
	font-size: 15px;
}
.ficnic-view .fv-info ul li b {
	width: 75px;
	color: #999;
}




/* 상세 정보 */
.ficnic-view .fv-detail {}
.ficnic-view .fv-detail .fvd-cont {
	position: relative;
	width: 100%;
	height: 600px;
	text-align: center;
	overflow: hidden;
	padding: 0 20px;
	margin-bottom: 50px;
}
.ficnic-view .fv-detail .fvd-cont.show {
	height: auto;
	overflow: auto;
}
.ficnic-view .fv-detail .fvd-cont img {
	max-width: 100%;
}
.ficnic-view .fv-detail .fvd-btn {
	text-align: center;
}
.ficnic-view .fv-detail .fvd-btn button {
	width: 327px;
	height: 56px;
	font-size: 18px;
	text-align: center;
	border: 1.5px solid #000;
	background: #fff;
}
.ficnic-view .fv-detail .fvd-btn button:hover {
	color: var(--font-color);
	border-color: 1px solid var(--border-color);
}



/* 커리큘럼 */
.ficnic-view .fv-curriculum {}
.ficnic-view .fv-curriculum ul {
	position: relative;
	margin: 0;
	list-style: none;
	z-index: 10;
}
.ficnic-view .fv-curriculum ul:after {
	content: "";
	position: absolute;
	left: 5px;
	top: 0;
	width: 1px;
	height: calc(100% - 34px);
	margin: 22px 0 0;
	background: #ddd;
	z-index: 1;
}
.ficnic-view .fv-curriculum ul li {
	position: relative;
	padding: 0 0 0 23px;
	margin: 0 0 12px;
}
.ficnic-view .fv-curriculum ul li p.time {
	font-size: 10px;
	font-weight: 400;
	line-height: 14px;
	color: #999;
}
.ficnic-view .fv-curriculum ul li p.cont {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #333;
}
.ficnic-view .fv-curriculum ul li p.cont:before {
	content: "";
	position: absolute;
	top: 19px;
	left: -1px;
	width: 13px;
	height: 13px;
	background: #ddd;
	border: 3px solid #fff;
	border-radius: 50%;
}



/* 진행장소 */
.ficnic-view .fv-map {}
.ficnic-view .fv-map .fvm-box {
	position: relative;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #fff;
}
.ficnic-view .fv-map .fvm-box .fvmb-show {
	position: relative;
	width: 100%;
	height: 400px;
}
.ficnic-view .fv-map .fvm-box .fvmb-addr {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 12px 20px;
	border-top: 1px solid #dedede;
}



/* 필요 정보 */
.ficnic-view .fv-required {}
.ficnic-view .fv-required ul {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 8px;
	margin-bottom: 25px;
}
.ficnic-view .fv-required ul li {
	margin: 0 9px 12px 0;
	padding: 6px 11px;
	border-radius: 20px;
	border: 1px solid #ddd;
}
.ficnic-view .fv-required ul.fvr-include li {
	border-color: #9bd491;
	color: #004518;
}
.ficnic-view .fv-required ul.fvr-notinclude li {
	border-color: #d49991;
	color: #4e0000;
}
.ficnic-view .fv-required ul.fvr-prepare li {
	border-color: #ddd;
	color: #666;
}




/* 이용 안내 */
.ficnic-view .fv-tab {
	border-top: 0;
	padding-top: 0;
}
.ficnic-view .fv-tab ul {
	border-top: 1px solid #eee;
}
.ficnic-view .fv-tab ul li {}
.ficnic-view .fv-tab ul li .fvt-tit {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 20px 20px 10px 20px;
	font-size: 16px;
	color: #333;
	cursor: pointer;
}
.ficnic-view .fv-tab ul li:first-child .fvt-tit {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}
.ficnic-view .fv-tab ul li .fvt-tit > i {
	color: #ddd;
}
.ficnic-view .fv-tab ul li .fvt-tit:hover {
	color: var(--font-color);
}
.ficnic-view .fv-tab ul li .fvt-cont {
	height: 0;
	margin: 0;
	transform-origin: left top;
	overflow: hidden auto;
	white-space: pre-line;
	font-size: 14px;
	line-height: 22px;
	padding: 10px 24px 0 24px;
	overflow: hidden;
	border-bottom: 1px solid #eee;
    -webkit-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.ficnic-view .fv-tab ul li.open .fvt-cont {
	height: auto;
	padding: 24px;
	border-top: 1px solid #eee;
}




/* 옵셔 선택 */
.ficnic-view .fv-join {
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	background: #fff;
	z-index: 9999;
}





@media (min-width: 992px) {
}

@media (max-width: 992px) {
	.ficnic-view .fv-top .fvt-cont {
		padding-left: 25px;
	}

	.ficnic-view .fv-top .fvt-cont .fvtc-basic {
	    margin-bottom: 30px;
	}
	.ficnic-view .fv-top .fvt-cont .fvtc-basic h2 {
		font-size: 1.6rem;
	}
	.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star > i {
	    font-size: 15px;
	}
	.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star b {
		font-size: 14px;
		line-height: 19px;
		margin-left: 4px;
	}
	.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star span {
		font-size: 14px;
	}
	.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star p.avg {
		font-size: 16px;
		line-height: 20px;
	}
	.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star a.link {
		padding: 3px 5px;
	}
}

@media (max-width: 520px) {
	.ficnic-view .fv-top {
		display: block;
	}
	.ficnic-view .fv-top .fvt-photo {
		width: 100%;
	}

	.ficnic-view .fv-top .fvt-cont {
		width: 100%;
		max-height: auto;
		padding: 0;
		margin-top: 20px
	}
	.ficnic-view .fv-top .fvt-cont .fvtc-basic {
	    margin-bottom: 30px;
	}
	.ficnic-view .fv-top .fvt-cont .fvtc-basic h2 {
		font-size: 1.2rem;
	}

	.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star > i {
	    font-size: 15px;
	}
	.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star b {
		font-size: 14px;
		line-height: 19px;
		margin-left: 4px;
	}
	.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star span {
		font-size: 14px;
	}
	.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star p.avg {
		font-size: 16px;
		line-height: 20px;
	}
	.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-star a.link {
		padding: 3px 5px;
	}
	.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-list li {
		width: calc(50% - 10px);
	}
	.ficnic-view .fv-top .fvt-cont .fvtc-review .fvtcr-list li:nth-child(3) {
		display: none;
	}

	.ficnic-view .fv-map .fvm-box .fvmb-show {
		height: 250px;
	}
}









/*************************/
/* 리뷰 보기
/*************************/
.ficnic-review .r_one {
	padding-top:20px;
	font-size: 20px;
}

.ficnic-review p b {
	color: #9122ff;
	
}

.ficnic-review .r_two {
	font-size: 20px;
	padding-bottom: 10px;
}

.ficnic-review hr {
	border-width: 0px;
	border-style:solid; 
	border-color:#f4f4f4;
}



.ficnic-review .rname {
	font-size: 14px;
}

.ficnic-review .rdate {
	font-size: 11px;
	color: #b8b8b8;
}

.ficnic-review .rcont {
	padding-top: 25px;
	font-size: 12px;
}

.ficnic-review .rfname{
	padding-top: 25px;
}

.ficnic-review .rimg1 {
	padding-top: 35px;
	}
.ficnic-review .rhr {
	margin-top: 40px;
}

.ficnic-review {
	padding-bottom: 10px;
}

.ficnic-review .rficnic {
	color: #b8b8b8;
	text-decoration: none;
	padding-top: 25px;
	font-size: 12px;
	color: #b8b8b8;
}

.fvtcr-star {
	color: #9122ff;
	padding-top: 15px;
}

.fvtcr-star .notstar {
	color: #000000;
}

.ficnic-review .rorder {
	color: #000000;
	font-size: 14px;
}

