@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



/*************************/
/*       tag reset       */
/*************************/
* { -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img { margin: 0; padding: 0; }


html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
body {
    font-size: 14px;
    min-height: 500px;
    padding-top: 7rem !important;
}
body, code, button {
    font-family: 'Noto Sans KR', 'NanumGothic', 'verdana', '굴림', 'Gulim', 'AppleGothic', 'sans-serif';
    color: #333;
    letter-spacing: -0.5px;
    background: #fff;
}
b, h1, h2, h3, h4, h5, strong {
    text-shadow: 0 none;
}
li {
    font-family: 'Noto Sans KR', 'NanumGothic', 'verdana', '굴림', 'Gulim', 'AppleGothic', 'sans-serif';
    font-weight: 300;
    list-style: none;
}
img, fieldset { border:none; vertical-align:top; }
select, option, input, textarea {
    font-size: 0.86rem;
    font-family: 'Noto Sans KR', 'NanumGothic', 'verdana', '굴림', 'Gulim', 'AppleGothic', 'sans-serif';
    font-weight: 300;
    color: #333;
    vertical-align: middle;
}
table { border-spacing:0; border:0; border-collapse:collapse; }
th, td { border:0; vertical-align:middle; }
legend { height:0; width:0; display:block; text-indent:-9999em; }
caption { visibility:hidden; position:absolute; left:-1060px; top:-1060px; height:0; width:0; display:none; }
button { padding:0; margin:0; border:0; cursor:pointer; overflow:visible; }
button:focus {
    outline: none;
}
label { margin:0; padding:0; cursor:pointer; }
select {
    padding: 3px 3px 4px 3px;
    border: 1px solid #ddd;
}
input, textarea {
    padding: 5px;
    border: 1px solid #ddd;
}

a:not(.btn),
a:link:not(.btn),
a:active:not(.btn),
a:visited:not(.btn) {
    text-decoration: none;
    color: #333;
}
a:hover:not(.btn) {
    text-decoration: none;
    color: #007bff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a:hover {
    text-decoration: none !important;
}


input[type='password'] {
    font-family: 'verdana' !important;
}


@media screen and (-webkit-min-device-pixel-ratio:0){ 
    div, a, img, li {
        image-rendering: -webkit-optimize-contrast;
    }
}
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (display:flow-root) {
        div, a, img, li {
            image-rendering: auto !important;
        }
    }
}








/*************************/
/* float bugFix
/*************************/
.clear {
    zoom: 1;
}
.clear:after {
    content: "";
    display: block;
    clear: both;
}



/*************************/
/* Etc
/*************************/
.displaynone {
    display: none;
}


.form-control {
    font-size: 0.86rem !important;
}
.form-select {
    border-radius: 5px;
    padding: 4px 8px 4px 5px;
}
.btn.btn-lg {
    font-size: 1rem;
    padding: .6rem 1.5rem;
}
.ui-datepicker {
    z-index: 9999999 !important;
}





/*************************/
/* 다음 우편번호
/*************************/
.find-zipcode {
    position: relative;
    width: 100%;
    height: 300px;
    max-height: 500px !important;
    margin: 10px 0;
    border: 1px solid;
    display: none;
    overflow-y: auto;
}
@media (max-width: 992px) {
    .find-zipcode {
        width: calc(100% + 120px);
        margin: 10px 0 10px -120px;
    }
}




/*************************/
/* #preloader
/*************************/
#preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff;
}
#preloader .loader {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #5b73e8;
    font-size: 50px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: preload 1s infinite ease, round 1s infinite ease;
    animation: preload 1s infinite ease, round 1s infinite ease;
}

@-webkit-keyframes preload {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes preload {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}






/*************************/
/* #toast-wrap
/*************************/
#toast-wrap {
    position: fixed;
    top: 122px;
    right: 15px;
    z-index: 99999999;
}
#toast-wrap .toast {
    flex-basis: 250px;
    width: 250px;
    max-width: 250px;
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-radius: 7px;
}
#toast-wrap .toast .toast-header {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    padding: .35rem .75rem;
    background: #212529;
    border-top-left-radius: calc(7px - 1px);
    border-top-right-radius: calc(7px - 1px);
}
#toast-wrap .toast .toast-header i {
    font-size: 1.25rem;
    margin: 0 7px -4px 0;
}
#toast-wrap .toast .toast-header small {
    font-family: 'Lato';
    letter-spacing: 0;
}
#toast-wrap .toast .toast-header button.close {
    color: #fff;
    text-shadow: none;
}
#toast-wrap .toast .toast-body {
    padding: 0;
}
#toast-wrap .toast .toast-body a {
    display: block;
    width: 100%;
    height: 100%;
    padding: .75rem;
    font-size: 14px;
    box-sizing: border-box;
}
#toast-wrap .toast .toast-body a > div {
    margin-top: 7px;
}







/*************************/
/* .table-form
/*************************/
.pb100 {
    padding-bottom: 100px;
}
.table-form {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
}
.table-form.ml-0 {
    width: 100%;
    margin: 0;
}
.table-form th,
.table-form td {
    height: 56px;
    margin: 0;
    padding: 10px 7px !important;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.3;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ddd !important;
}
.table-form th {
    background: #f9f9f9;
}
.table-form td {
    background: #fff;
    text-align: left;
}

.table-form td input[type='text'],
.table-form td input[type='password'],
.table-form td input[type='email'],
.table-form td input[type='number'],
.table-form td input[type='file'],
.table-form td textarea,
.table-form td select {
    font-size: 14px;
    color: #333;
    vertical-align: middle;
}


.table-form td input[type='text'].w-10,
.table-form td input[type='password'].w-10,
.table-form td input[type='email'].w-10,
.table-form td input[type='number'].w-10,
.table-form td input[type='file'].w-10,
.table-form td textarea.w-10,
.table-form td select.w-10,
.w-10 {
    width: 10% !important;
}

.table-form td input[type='text'].w-15,
.table-form td input[type='password'].w-15,
.table-form td input[type='email'].w-15,
.table-form td input[type='number'].w-15,
.table-form td input[type='file'].w-15,
.table-form td textarea.w-15,
.table-form td select.w-15,
.w-15 {
    width: 15% !important;
}

.table-form td input[type='text'].w-20,
.table-form td input[type='password'].w-20,
.table-form td input[type='email'].w-20,
.table-form td input[type='number'].w-20,
.table-form td input[type='file'].w-20,
.table-form td textarea.w-20,
.table-form td select.w-20,
.w-20 {
    width: 20% !important;
}

.table-form td input[type='text'].w-25,
.table-form td input[type='password'].w-25,
.table-form td input[type='email'].w-25,
.table-form td input[type='number'].w-25,
.table-form td input[type='file'].w-25,
.table-form td textarea.w-25,
.table-form td select.w-25,
.w25 {
    width: 25% !important;
}

.table-form td input[type='text'].w-30,
.table-form td input[type='password'].w-30,
.table-form td input[type='email'].w-30,
.table-form td input[type='number'].w-30,
.table-form td input[type='file'].w-30,
.table-form td textarea.w-30,
.table-form td select.w-30,
.w-30 {
    width: 30% !important;
}

.table-form td input[type='text'].w-40,
.table-form td input[type='password'].w-40,
.table-form td input[type='email'].w-40,
.table-form td input[type='number'].w-40,
.table-form td input[type='file'].w-40,
.table-form td textarea.w-40,
.table-form td select.w-40,
.w-40 {
    width: 40% !important;
}

.table-form td input[type='text'].w-50,
.table-form td input[type='password'].w-50,
.table-form td input[type='email'].w-50,
.table-form td input[type='number'].w-50,
.table-form td input[type='file'].w-50,
.table-form td textarea.w-50,
.table-form td select.w-50,
.w-50 {
    width: 50% !important;
}

.table-form td input[type='text'].w-60,
.table-form td input[type='password'].w-60,
.table-form td input[type='email'].w-60,
.table-form td input[type='number'].w-60,
.table-form td input[type='file'].w-60,
.table-form td textarea.w-60,
.table-form td select.w-60,
.w-60 {
    width: 60% !important;
}

.table-form td input[type='text'].w-70,
.table-form td input[type='password'].w-70,
.table-form td input[type='email'].w-70,
.table-form td input[type='number'].w-70,
.table-form td input[type='file'].w-70,
.table-form td textarea.w-70,
.table-form td select.w-70,
.w-70 {
    width: 70% !important;
}

.table-form td input[type='text'].w-80,
.table-form td input[type='password'].w-80,
.table-form td input[type='email'].w-80,
.table-form td input[type='number'].w-80,
.table-form td input[type='file'].w-80,
.table-form td textarea.w-80,
.table-form td select.w-80,
.w-80 {
    width: 80% !important;
}

.table-form td input[type='text'].w-90,
.table-form td input[type='password'].w-90,
.table-form td input[type='email'].w-90,
.table-form td input[type='number'].w-90,
.table-form td input[type='file'].w-90,
.table-form td textarea.w-90,
.table-form td select.w-90,
.w-90 {
    width: 90% !important;
}

.table-form td .form-control[readonly] {
    background-color: #fff;
}

.table-form td .display-img #form-top-img-pc,
.table-form td .display-img #form-top-img-mobile {
    display: block !important;
}
.table-form td .display-img img {
    max-width: calc(100% - 20px);
    margin: 0 0 15px 10px;
}

.table-form td.space {
    padding: 0 !important;
    height: 15px;
}
.table-form td span.input-group-text.custom {
    font-size: 0.82rem;
}

.table-form td span.noimg {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding-top: 14px;
    box-sizing: border-box;
    font-family: 'verdana';
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #aaa;
}






/*************************/
/* .table-top
/*************************/
.table-top {
    position: relative;
    width: 100%;
    height: 40px;
}

.table-top .tt-left {
    float: left;
    font-size: 13px;
    color: #333;
    letter-spacing: -1px;
    padding: 5px 0 0 0;
}
.table-top .tt-left b {
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    color: #479ae8;
}

.table-top .tt-right {
    float: right;
    width: 60%;
    padding: 0;
    text-align: right;
}
.table-top .tt-right button,
.table-top .tt-right select {
    float: right;
    margin-right: 5px;
}
.table-top .tt-right select {
    width: 120px;
    font-size: 14px;
}




/*************************/
/* table-list */
/*************************/
.table-list {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}


.table-list th,
.table-list td {
    font-size: 0.85rem;
    letter-spacing: -0.5px;
    line-height: 1.3;
    text-align: center;
    margin: 0;
    padding: 0;
}

.table-list thead th {
    height: 44px;
    font-weight: bold;
    color: #333;
    background: #f9f9f9;
    border-top: 1px solid #e4e5e8;
    border-bottom: 1px solid #e4e5e8;
}

.table-list tbody td {
    height: 55px;
    color: #444;
    border-bottom: 1px solid #f1f1f1;
    padding: 6px 0;
}
.table-list tbody tr:nth-of-type(even) {
    background: #fcfcfc;
}
.table-list.hover > tbody > tr:hover > td {
    background: #f5f9fd;
    cursor: pointer;
    color: #000;
}

.table-list tfoot td {
    padding: 15px 0;
    border-bottom: 0 none;
}

.table-list tbody td span.noimg {
    display: inline-block;
    width: 70px;
    height: 70px;
    padding-top: 20px;
    margin: 5px 0;
    box-sizing: border-box;
    font-family: 'verdana';
    font-size: 12px;
    color: #fff;
    line-height: 12px;
    text-align: center;
    background: #aaa;
}
.table-list td.photo {
    text-align: center;
    padding: 12px 6px;
}
.table-list td.photo img {
    width: 100%;
    max-height: 60px;
    object-fit: cover;
}


table.paging-table {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
table.paging-table td.text-left {
    padding-left: 0px !important;
    text-align: left;
}
table.paging-table td.text-right {
    padding-right: 0px !important;
    text-align: right;
}

table td.nodata {
    height: 200px !important;
    text-align: center;
}
.table-list.hover > tbody > tr:hover > td.nodata {
    background: #fff;
    cursor: default;
    color: #444;
}






/*************************/
/* .page-paging
/*************************/
.page-paging {
    display: inline-block;
    padding: 0;
    text-align: center;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
}
.page-paging ol {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}
.page-paging span,
.page-paging ol li {
    display: inline-block;
    margin-left: -1px;
    background: #fefefe;
    line-height: 36px;
    letter-spacing: -1px;
    color: #6c757d;
    vertical-align: top;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.page-paging span {
    width: 38px;
    font-size: 16px;
    overflow: hidden;
}
.page-paging span.nolink {
    width: 38px;
    height: 38px;
    text-align: center;
    box-sizing: border-box;
}
.page-paging span:first-child {
    margin-left: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.page-paging span:last-child {
    margin-left: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page-paging a {
    display: block;
    width: 38px;
    text-align: center;
    font-family: verdana;
    font-size: 14px;
    color: #007bff !important;
    text-decoration: none;
    letter-spacing: -1px;
}
.page-paging span a {
    width: 38px;
    height: 36px;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: -1px;
}
.page-paging a:hover {
    color: #000;
    background: #f3f3f3 !important;
    text-decoration: none;
}

.page-paging li.now {
    width: 38px;
    height: 38px;
    color: #fff;
    background: #007bff !important;
    border-top: 1px solid #007bff;
    border-bottom: 1px solid #007bff;
    font-family: verdana;
    font-size: 13px;
    text-align: center;
    box-sizing: border-box;
}










